<!DOCTYPE html>
<html>
  <head>
    <title>AjaxModalDrydock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= render 'ajax_modals/frame' %>
    <%= yield :page_js %>
  </body>
</html>
